# Tupple

- Definisinya "()"
- Bisa digabungkan
- bisa menyimpan beberapa jenis data
- data tidak bisa diubah (imutable)

In [14]:
a = 1,2,3,4,5,6,(2,3,4),True
b = 1,2,3

In [20]:
# menggabungkan 2 tuple
print(a + b)

#repetisi tuple
print(a * 2)

# jumlah tuple
len(a)

(1, 2, 3, 4, 5, 6, (2, 3, 4), True, 1, 2, 3)
(1, 2, 3, 4, 5, 6, (2, 3, 4), True, 1, 2, 3, 4, 5, 6, (2, 3, 4), True)

8

## Indexing & Slicing Tupple

In [36]:
print(a[:7])
print(a[2:5:2])
print(a[3::2])

(1, 2, 3, 4, 5, 6, (2, 3, 4))
(3, 5)
(4, 6, True)

# List

- Definisinya "[]"
- Data bisa diubah (mutable)

>cons:
 - List lebih lama diproses dibandingkan Tuple


> notes:
- append : untuk menambahkan nilai ke dalam list (satu nilai)
- extend : untuk menambahkan nilai ke dalam list (lebih dari 1 nilai)
- remove : menghapus nilai dengan value 
- del : menghapus nilai dengan indexing
- pop : menghilangkan nilai akhir pada list

In [47]:
list_a = [1,2,3,4,5]
print(list_a)

[1, 2, 3, 4, 5]

In [48]:
# Update data List
list_a[3] = [1,2,3]
print(list_a)

# Delete data List
del list_a[2]
print(list_a)

# Remove data List
list_a.remove(1)
print(list_a)

# Add data List
list_a.append(5)
print(list_a)

# Add data List
list_a.extend([6,7,8])
print(list_a)

# Remove data list
list_a.pop()
print(list_a)

[1, 2, 3, [1, 2, 3], 5]
[1, 2, [1, 2, 3], 5]
[2, [1, 2, 3], 5]
[2, [1, 2, 3], 5, 5]
[2, [1, 2, 3], 5, 5, 6, 7, 8]
[2, [1, 2, 3], 5, 5, 6, 7]

# Set

In [50]:
set_a = {1,2,3,4,5,6}
set_b = {4,2,1,5,3,1}
print(set_a)

{1, 2, 3, 4, 5, 6}

In [52]:
set_a.intersection(set_b)
set_a.union(set_b)
set_a.difference(set_b)
set_a.symmetric_difference(set_b)
set_a.issubset(set_b)
set_a.issuperset(set_b)

True

# Dictionary

In [61]:
dict_a = {'nama':'saya', 'umur':20}
dict_a['umur']
print(dict_a.keys())
print(dict_a.values())
print(dict_a.items())

dict_keys(['nama', 'umur'])
dict_values(['saya', 20])
dict_items([('nama', 'saya'), ('umur', 20)])

In [64]:
d_list = dict_a.items()
for i in d_list:
    print(i)

('nama', 'saya')
('umur', 20)

# String

In [67]:
my_str = 'Contoh String'
my_str_2 = "Contoh String"
my_str_3 = '''Contoh String'''
my_str_4 = 'Jum\'at'
my_str_5 = '1//2//2019'

print(my_str)
print(my_str_2)
print(my_str_3)
print(my_str_4)
print(my_str_5)

Contoh String
Contoh String
Contoh String
Jum'at
1//2//2019

## String Format

In [74]:
template = "{} * {} = {}"
a = 4
b = 5

print(template.format(a,b,a*b))
print(f"{a} * {b} = {a*b}")

template_2 = "%d * %d = %d"
print(template_2 % (a,b,a*b))

4 * 5 = 20
4 * 5 = 20
4 * 5 = 20

In [77]:
dir(my_str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [91]:
pesanan = "nasi goreng,ayam goreng,es jeruk"
pesanan_1 = pesanan.split(',')
print(pesanan)
print(pesanan_1)

nasi goreng,ayam goreng,es jeruk
['nasi goreng', 'ayam goreng', 'es jeruk']